.calendar {
    display: block;
    width: 280px;
    margin: 20px auto;
}

.calendar ul {
    box-sizing: content-box;
    width: 100%;
    color: #444;
    font-size: 0;
}

.calendar-weekdays {
    border: 1px solid;
}

.calendar-weekdays li {
    background-color: #d3fd02;
    font-weight: bold;
}

.calendar-weekdays li+li {
    border-left: 1px solid;
}

.calendar ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
}

.calendar-days {
    border: 1px solid;
    border-top: 0;
    border-bottom: 0;
}

.calendar-days li {
    border-bottom: 1px solid;
    border-left: 1px solid;
    background-color: #fff;
}

.calendar-days li.not-in-month
{
  background-color: #bababa;
}

.calendar-days li.holiday
{
    background-color: #f00;
    color: #fff;
}

.calendar-days li.current-day
{
    background-color: #0F0;
}

.calendar-days li:nth-child(7n+1) {
    border-left: 0;
}

.calendar-controls {
    display: flex;
    justify-content: space-between;
    line-height: 2.8em;
}

.calendar__prev-month,
.calendar__next-month {
    text-decoration: none;
    flex-basis: 40px;
}

.calendar__prev-month:hover,
.calendar__next-month:hover {
    color: #096;
}
