.todo {
    position: fixed;
    display: flex;
    align-items: strech;
    flex-direction: column;

    width: 50%;
    max-width: 600px;
    margin: 0;
    right: 20px;
    bottom: 20px;
    border: 1px solid #ffc300;
    background: #fff;
}

.todo__banner {
    display: block;

    margin: 0 0 20px;
    padding: 20px;

    text-align: center;

    color: #476085;
    background: #ffc300;
}

.todo__form {
    display: flex;

    margin: 20px;
}

.todo__form-input {
    flex: 1 1;
}

.todo__form-add {
    flex: 0 0 80px;

    margin-left: 20px;
}

.todo__list
{
  padding: 0;
  margin: 0 20px 0 40px;
}
